.list {
  display: flex;
  flex-flow: column wrap;
  height: 80vh;
  gap: 2px;
  padding: 0 20px;
}
.input {
  width: 100%;
  margin: 10px auto;
  height: 30px;
}

.deck {
  width: 300px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #333;
  display: flex;
  flex-direction: column;
}
.deck em {
  padding-left: 1em;
}

.main {
  display: flex;
  justify-content: space-between;
}
